@charset "UTF-8";
/* CSS Document */

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	padding: 0px;
	margin: 0px;
	background-color:#ffffff;
}
a {
	text-decoration: none;
}
#page {
	background-color:transparent;
	margin: 0px;
	padding: 0px;
	height: 100%;
	width: 100%;
	z-index: 1;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
}

#pageContent {
	background-color:#fefefe;
	visibility: visible;
	margin: 0px auto;
	height: 600px;
	width: 955px;
	z-index: 10;
	border-color:#aaa;
	border-style: solid;
	border-width:1px;
}
#pageHeader {
	width:955px;
	height:60px;
	background-color: #CC3300;
}
#pageNav {
	height:30px;
	background-color: #CC3300;
	padding-left:15px;
}
.navItem a {
	height:35px;
	color:#ffffff;
	background-color:#0099ff;
	font-size:16px;
	border-bottom-color:#ffffff;
	border-bottom-style:solid;
	border-bottom-width:2px;
	border-left-color:#ffffff;
	border-left-style:solid;
	border-left-width:2px;
	padding:4px;
	margin-right:10px;
}
.navItemSelected a{
	height:35px;
	color:#CC3300;
	background-color:#0099ff;
	font-size:16px;
	border-color:#ffffff;
	border-style:solid;
	border-width:2px;
	padding:4px;
	margin-right:10px;
	}
.navItem a:hover {
	color:#CC3300;
}
#pageBody {
	height:495px;
	background-color:#999999;
	}
#bodyLeft {
	height:495px;
	width:350px;
	float:left;
	background-color:#0099ff;
	}
#bodyLeft img {
	margin-left:10px;
	margin-top:5px;
}
#bodyLeft p {
	text-align:center;
	color:#ffffff;
}
#bodyRight {
	height:495px;
	width:605px;
	float:right;
	background-color:white;

	}
#rightText{
	margin-top:10px;
	width:600px;
	height:305px;
	overflow: scroll;
}
#pictureRail{
	margin-left:15px;
}
#bodyRight p {
	margin-left:15px;
	margin-right:15px;
}
#bodyRight form {
	margin-left:10px;
	margin-right:10px;
}
#acc_unit {
	width:450px;
	height:100px;
	border-color:#0099ff;
	border-width:1px;
	border-style:solid;
	margin-left:15px;
	margin-top:3px;
}
#acc_unit a {
	text-decoration: none;
	color: #CC3300;
}
#acc_txt {
	width:200px;
	height:100px;
	position:relative;
	top:-105px;
	left:150px;
	background-color:#0099ff;
}
.acc_img {
	width:133px;
	height:100px;
	float:left;
	border-right-color:#0099ff;
	border-right-style:solid;
	border-right-width:1px;
}
#acc_img {
	margin:2px;
	height:100px;
	width:150px;
}

#pageFooter {
	width:955px;
	height:15px;
	background-color: #CC3300;
}

.bodyText {
	line-height:14px;
	color:#000000;
	font-family: arial;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
	letter-spacing: normal;
	word-spacing: normal;
	}

.pageName {
	color: #FFFFFF;
	letter-spacing:0.1em;
	line-height:50px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 30px;
	font-style: italic;
	font-weight: bold;
	font-stretch: narrower;
	text-shadow: 2px;
	}

.subHeader {
	color: #CC3300;
	font-weight:normal;
	line-height:26px;
	letter-spacing:0.1em;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 24px;
	font-style: italic;
	text-align: center;
}

.boldSidebar {
	line-height:18px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: italic;
	letter-spacing: 1px;
	color: #FFFFFF;
}

.mainbodytext {

	line-height: 20px;
	font-weight: normal;
	color: #000000;
}
